//**********************************//
//          RESPONSIVES
//**********************************//
@media only screen and (max-width: 900px){
    .navbar .rightSide a {
        width: 70px;
    }
  }
  
  
  @media only screen and (max-width: 600px){
    .navbar .rightSide a {
        display: none;
    }
  
    .navbar .rightSide{
        justify-content: flex-end;
        padding-right: 50px;
    }
  
    .navbar .rightSide button {
        display: inherit;
    }
  }
  
  
  @media only screen and (min-width: 600px)  {
    .navbar .rightSide button {
        display: none;
    }
  
    .hiddenLinks {
        display: none;
    }
  }

//**********************************//
//          CONTACT RESPONSIVES
//**********************************//
// @media screen and (min-width: 768px){
//     .form-box .progress{
//         flex: 1 0 35%;
//         min-width: 300px;
//         padding: 3em;
//     }
// }



