//**********************************//
//  Bases
//**********************************//
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $ff-primary;
  margin: 0;
  padding: 0;
}



//**********************************//
//  TEXTES
//**********************************//
@mixin AllTexte {
    font-size: 18px;
    font-family: "Poppins";
  }